<div class="navbar">
  <div class="container-nome">
    <a [routerLink]="['/']"><h1 class="nome-loja">Cupcake Store</h1></a>
  </div>

  <div class="container-info">
    <div class="container-carrinho">
      <a [routerLink]="['/carrinho']">
        <fa-icon [icon]="faCartShopping"></fa-icon>
        <span class="quantidade-carrinho" *ngIf="quantidadeItens > 0">
          {{ quantidadeItens }}
        </span>
      </a>
    </div>

    <div class="container-login">
      <fa-icon
        [icon]="faUser"
        (click)="navegarBaseadoAutenticacao()"
        [ngStyle]="{ cursor: windowWidth < 768 ? 'pointer' : 'auto' }"
      />
      <div *ngIf="windowWidth >= 768">
        <p>Olá visitante, seja bem-vindo</p>
        <a (click)="navegarBaseadoAutenticacao()">
          <p class="login-text">Entrar</p>
        </a>
      </div>
    </div>
  </div>
</div>
