<div class="cadastro-container">
  <h2>Cadastro</h2>
  <form class="form" [formGroup]="cadastroForm" (ngSubmit)="cadastrarUsuario()">
    <div class="form-group">
      <input
        formControlName="usuario"
        type="text"
        id="username"
        placeholder="Nome de Usuário"
        required
      />
    </div>
    <div class="form-group">
      <input
        formControlName="email"
        type="email"
        id="email"
        placeholder="Email"
        required
      />
    </div>
    <div class="form-group">
      <input
        formControlName="senha"
        type="password"
        id="password"
        placeholder="Senha"
        required
      />
    </div>
    <div class="form-group">
      <input
        formControlName="confirmacaoSenha"
        type="password"
        id="confirm-password"
        placeholder="Confirmação de Senha"
        required
      />
    </div>
    <button class="form-submit-btn" type="submit">Cadastrar</button>
    <a class="form-link" [routerLink]="['/login']"
      >Já possui cadastro? Faça login</a
    >
  </form>
</div>
