<div class="cadastro-container">
  <div class="loading-overlay" *ngIf="isLoading; else cadastro">
    <app-loading [isLoading]="isLoading"></app-loading>
  </div>

  <ng-template #cadastro>
    <div class="cadastro-box">
      <h2>Cadastro</h2>
      <form
        class="form"
        [formGroup]="cadastroForm"
        (ngSubmit)="cadastrarUsuario()"
      >
        <div class="form-group">
          <input
            formControlName="nome"
            type="text"
            id="name"
            placeholder="Nome"
            required
          />
        </div>
        <div class="form-group">
          <input
            formControlName="email"
            type="email"
            id="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="form-group">
          <input
            formControlName="senha"
            type="password"
            id="password"
            placeholder="Senha"
            required
          />
        </div>
        <div class="form-group">
          <input
            formControlName="confirmacaoSenha"
            type="password"
            id="confirm-password"
            placeholder="Confirmação de Senha"
            required
          />
        </div>
        <button class="form-submit-btn" type="submit">Cadastrar</button>
      </form>
      <div>
        <a class="form-link" [routerLink]="['/login']"
          >Já possui cadastro? Faça login</a
        >
      </div>
    </div>
  </ng-template>
</div>
