.produto-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 100%;
}

.main h1,
.main p {
  margin: 0;
}

.main h1 {
  color: #76606c;
}

.main img {
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}

.btn-add-carrinho {
  background-color: #76606c;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  height: 40px;
  width: 100%;
}

.btn-add-carrinho:hover {
  background-color: #42373d;
}

.descricao {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.texto-descricao {
  background-color: #fff;
  border-radius: 8px;
  min-height: 100px;
  padding: 1rem 0.5rem;
}

.preco {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #76606c;
}

.preco p {
  color: #42373d;
}

@media (min-width: 1024px) {
  .main {
    width: 80% !important;
  }
}

@media (min-width: 768px) {
  .main {
    width: 90%;
    gap: 2rem;
  }

  .main img {
    max-height: 400px;
    width: auto;
  }

  .descricao {
    flex: 1;
  }

  .preco {
    font-size: 1.6rem;
    gap: 1.5rem;
  }
}
