.home-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.destaque {
  img {
    height: 150px;
    width: 100%;
  }
}

.conteudo-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
}

.container-itens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;

  img {
    cursor: pointer;
    height: 160px;
    max-width: 100%;
    min-width: 100%;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
