<div class="pesquisa-container">
  <h1>Pesquisa</h1>
  <app-busca></app-busca>
  <p>{{ produtos.length }} produto(s) encontrado(s)</p>
  <div class="loading-overlay" *ngIf="isLoading; else temProduto">
    <app-loading [isLoading]="isLoading"></app-loading>
  </div>

  <ng-template #temProduto>
    <div class="itens-container">
      <div *ngFor="let produto of produtos" class="item">
        <img
          [src]="produto.urlImagem"
          [alt]="produto.nome"
          [routerLink]="['/produto', produto.id]"
        />
        <p class="nome">{{ produto.nome }}</p>
      </div>
    </div>
  </ng-template>
</div>
